body {
    margin: 0 0;
    font-family: 'Open Sans', sans-serif;
    
}
.bottombackground{
    background: white;

}
.titleSection {
    color: grey;
    border-radius: 0.5px;
    border: white;
    text-align: center;
}

.regular {
    color: #FFF;
    font-size: 1.8em;
    border-radius: 0.5px;
   
}

.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    border-radius: 1px;
    
    transition: all 0.3s linear;
}
.box1:hover{
    -webkit-box-shadow:rgb(238, 238, 12) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.box2:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.box3:hover{
    -webkit-box-shadow:rgb(236, 14, 14) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.box4:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

/*Top Nav Bar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    margin: 0;
    flex-direction: row;
    color:black
}

/*Use this media query only when the max-width of the screen is 1000px*/
@media only screen and (max-width: 1100px) {
    .main-nav {
        font-size: 1.25em;
        padding: 0;
    }
    #settings-bar {
        top: 10em;
        right: 40em;
    }
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    /*creates a margin left of the text*/
    margin-left: auto;
}

/*Cover*/
.titleContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    height: 10em;
    background:white;
    border:white;
}

.orderContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    height: 22.5vh;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    height: 22.5vh;
}
.cover {
    width: 20rem;
}

/*Grid*/
.project-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-template-rows: 1fr;
    max-width: 1300px;
    margin: auto;
}

/* all children of box which are images */
.box > img {
    width: 100%;
}

/*box encapsulating the icon images*/
.box {
    height: 5em;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    padding: 30px 10px;
    margin: 30px;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Order Section*/
.orderButton {
    position: relative;
    left: 15%;
    color: black;
    border-radius: 30px;
    font-size: 0.65em;
    margin: 0.4em 1em 0.4em 14em;
    padding: 1em 1.5em;
    background:rgb(255, 255, 62) ;
}

/*Setting Icon*/
#settings-bar {
    position: fixed;
    width: 20em;
    font-size: 0.55em;
    height: 75%;
    background: #e2e7e9;
    top: 5.25em;
    right: 0em;
    opacity: 1;
}

#settings-bar ul li {
    color: black;
    list-style: none;
    padding: 1.45em 2em;
}

.settings-nav {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    color: black;
}
.box1{
border: 3px solid rgb(255, 255, 62);
/* color:rgb(255, 255, 62); */
}
.box2{
    border: 3px solid black; 
    /* color:black */
}
.box3{
    border: 3px solid rgb(236, 14, 14);
    /* color:rgb(236, 14, 14) */
}
.box4{
    
}

.bar-zone {
    cursor: pointer;
    transition: all 0.15s linear;
}

.bar-zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:#000000cc 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*Side Bar Section*/
#side-bar {
    position: fixed;
    font-size: 0.55em;
    width: 20em;
    height: 90%;
    margin-top: 5.15em;
    background: #e2e7e9;
    left: 0em;
}

#side-bar ul li {
    color: black;
    list-style: none;
    padding: 1.45em 2em;
}

.toggle-btn {
    margin: 0.4em 2em 0.1em 0.3em;
   
}

.toggle-btn span {
    border-radius: 5em;
    display: block;
    width: 1.4em;
    height: 0.18em;
    background:black;
    margin: 0.265em 0;
}

.cancel-btn {
    position: absolute;
    left: 18em;
    bottom: 44em;
}
.boldrow{
    
    font-size: 150%
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 * box1
 **********************************************************************/
.green{
    background:#888282
}

/***********************************************************************
 *  Grey Background
 **********************************************************************/
 .grey{
    background:black
}

/***********************************************************************
 * box4
 **********************************************************************/
.darkred{
    background:#888282
   
   
}

/***********************************************************************
 *  box3
 **********************************************************************/
.yellow{
    background:#888282
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/


/***********************************************************************
 *  box2
 **********************************************************************/
.purple{
    background:#888282
}

.blue{
    background:#c9c3c3
}
